<%
var page = {
  title: '',
  description: '転職なら日本最大級の転職サイト【マイナビ転職】。第三者機関評価No.1に選ばれた豊富な正社員の転職情報のほか、転職ノウハウ、スカウト、履歴書・職務経歴書コーチであなたの転職活動を支援する転職サイトです。毎日キャリアナビからブランドチェンジ。',
  keyword: '転職,転職サイト,転職情報,スカウト,職務経歴書,適性診断,転職支援,マイナビ転職,毎日キャリアナビ',
  ogTitle: '',
  ogType: '',
  ogDescription: '',
  ogURL: '',
  ogImage: '',
  ogSitename: '',
  twitterCard: 'summary',
  twitterSite: '',
  selectCondition: true,//職種・勤務地モーダル
  headerType: 2,//1:ログイン前、2:ログイン後、3:簡易版
  footerType: 1,//1:下層、2:TOPページ用、3:簡易版
  breadcrumb: ['転職TOP','ソフトウェア・情報処理の転職・求人一覧','会社名の求人情報','営業１課の求人情報'], //パンくず
  breadcrumbLink: ['/'], //パンくずリンク
}

function content(site){
-%>
<% include partial/_breadcrumb %>

    <div class="container">

      <div class="container__inner">
<% if(false){ -%>SNS ダミー<% } %>
        <div class="socialBtn">
          <div class="socialBtn__content">
            <div class="socialBtn__facebook">
              <iframe src="https://www.facebook.com/v2.0/plugins/like.php?href=http%3A%2F%2Ftenshoku%2Emynavi%2Ejp%2Fcoach%2F&amp;layout=button_count&amp;show_faces=false&amp;width=70&amp;action=like&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:70px; height:21px;" allowtransparency="true"></iframe>
            </div>
            <div class="socialBtn__twitter">
              <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-share-button twitter-share-button-rendered twitter-tweet-button" title="Twitter Tweet Button" src="https://platform.twitter.com/widgets/tweet_button.34f1d98fbddc2d328cb7fb206fcd1806.ja.html#dnt=false&amp;id=twitter-widget-0&amp;lang=ja&amp;original_referer=https%3A%2F%2Ftenshoku.mynavi.jp%2Fcoach%2F&amp;size=m&amp;text=%E8%BB%A2%E8%81%B7MY%E3%82%B3%E3%83%BC%E3%83%81%EF%BD%9C%E3%83%9E%E3%82%A4%E3%83%8A%E3%83%93%E8%BB%A2%E8%81%B7%20%23tenshoku%20%23%E8%BB%A2%E8%81%B7&amp;time=1516846785530&amp;type=share&amp;url=http%3A%2F%2Ftenshoku.mynavi.jp%2Fcoach%2F&amp;via=MynaviTenshoku" style="position: static; visibility: visible; width: 75px; height: 20px;" data-url="http://tenshoku.mynavi.jp/coach/"></iframe>
              <script type="text/javascript" src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
          </div>
        </div>
      </div><!-- /container__inner -->

      <div class="cassetteOfferRecapitulate">
        <div class="cassetteOfferRecapitulate__content">
          <p class="text">掲載企業名掲載企業名掲載企業名掲載企業名掲載企業名掲載企業名掲載企業名掲載企業名掲載企業名掲載企業名</p>
          <p class="cassetteOfferRecapitulate__job">職種名職種名職種名職種名職種名職種名職種名職種名職種名職種名<span class="labelEmploymentStatus">正社員</span>
          </p>
        </div><!-- /cassetteOfferRecapitulate__content -->
        <div class="cassetteOfferRecapitulate__content">
          <p class="cassetteOfferRecapitulate__text">
            業種:ソフトウェア・情報処理/警察・消防・自衛隊/環境・リサイクル/教育<br />
            従業員数:テキスト　設立:テキスト　資本金:テキスト　売上高:テキスト　本社所在地:東京都
          </p>
        </div><!-- /cassetteOfferRecapitulate__content -->
      </div>

      <nav class="tabNaviRecruit">
        <ul class="tabNaviRecruit__list">
          <li class="tabNaviRecruit__item--active"><span>求人情報</span></li>
        </ul>
      </nav>

      <div class="jobQuestion">
        <div class="jobQuestion__content">
          <p class="jobQuestion__title">アンケート回答済み</p>

          <ul class="columnList">
            <li class="columnList__item">
              <span class="labelQuestion">Q1</span>この求人からどんなスカウトが届いたら嬉しい？<br />
              <span class="labelAnswer">あなたの回答</span><span class="js__question--answer1">詳しい仕事内容が知れたら嬉しい</span>
            </li>
            <li class="columnList__item">
              <span class="labelQuestion">Q2</span>この求人からどんなスカウトが届いたら嬉しい？<br />
              <span class="labelAnswer">あなたの回答</span><span class="js__question--answer1">詳しい仕事内容が知れたら嬉しい</span>
            </li>
        </ul>
        </div><!-- /cassetteQuestionnaire__content -->
      </div><!-- /cassetteQuestionnaire -->

      <div class="jobQuestion">
        <div class="jobQuestion__content">
          <p class="jobQuestion__title">アンケート回答済み</p>

          <ul class="columnList">
            <li class="columnList__item">
              <span class="labelQuestion">Q1</span>この求人からどんなスカウトが届いたら嬉しい？<br />
              <span class="labelAnswer">あなたの回答</span><span class="js__question--answer1">詳しい仕事内容が知れたら嬉しい</span>
            </li>
        </ul>
        </div><!-- /cassetteQuestionnaire__content -->
      </div><!-- /cassetteQuestionnaire -->


      <div class="card">
        <div class="card__content">
          <table class="table">
            <tbody>
              <tr>
                <th class="table__head">事業内容</th>
                <td class="table__body">
                  <p class="table__text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                  テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                  テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                  テキストテキストテキストテキストテキストテキストテキストテキスト</p>
                </td>
              </tr>
              <tr>
                <th class="table__head">設立</th>
                <td class="table__body">
                  <p class="table__text">テキストテキストテキストテキストテキストテキスト</p>
                </td>
              </tr>
              <tr>
                <th class="table__head">代表者</th>
                <td class="table__body">
                  <p class="table__text">テキストテキストテキストテキストテキスト</p>
                </td>
              </tr>
              <tr>
                <th class="table__head">従業員数</th>
                <td class="table__body">
                  <p class="table__text">テキストテキスト</p>
                </td>
              </tr>
              <tr>
                <th class="table__head">資本金</th>
                <td class="table__body">
                  <p class="table__text">テキストテキストテキスト</p>
                </td>
              </tr>
              <tr>
                <th class="table__head">売上高</th>
                <td class="table__body">
                  <p class="table__text">テキストテキストテキストテキスト</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div><!-- /card__content -->
      </div><!-- /card -->

      <p class="textLead">上記企業概要は前回の求人情報掲載時の内容です。<br />
      現在は内容が変更されている可能性があります。予めご了承ください。</p>

      <div class="alert--multiline">
        <p class="alert--multiline__title">この求人情報は掲載が終了しました。</p>
        <div class="alert--multiline__content">
          <p class="alert--multiline__text">
            この企業を気になるに保存しておくと新しい求人が掲載された際にお知らせします。
          </p>
        </div><!-- /alert--multiline__content -->
      </div><!-- /alert--multiline -->

      <div class="btnBox">
        <div class="concernCard">
          <button class="btnInterst js__interest--button">気になる</button>
          <div class="textSup"><span class="iconQuestion"></span>気になるとは？
            <div class="tooltip">
              <div class="tooltip__content">
                <p class="tooltip__text">
                  ・気になる求人を保存できる<br />
                  ・求人をまとめて管理して比較検討できる<br />
                  ・応募締切前にメールが届くので、気になる求人への応募を逃さない
                </p>
              </div><!-- /tooltip__content -->
            </div><!-- /tooltip -->
          </div><!-- /textSup -->
        </div><!-- /concernCard -->
      </div><!-- /btnBox -->

      <nav class="tabNaviRecruitBottom">
        <ul class="tabNaviRecruitBottom__list">
          <li class="tabNaviRecruitBottom__item--active"><span>求人情報</span></li>
        </ul>
      </nav>

      <div class="jobBreadcrumb">
<% include partial/_breadcrumb %>
      </div>

      <div class="jobCarousel">
        <div class="jobCarousel__inner">
          <h2 class="jobCarousel__heading">（職種名）と似た求人</h2>

          <div class="jobCarousel__list">
            <a href="DUMMY" target="_blank" class="jobCarousel__item">
              <p class="jobCarousel__title">専門商社でのルートセールス【法人営業】ダミーテキストダミーテキスト※未経験歓迎</p>
              <p class="jobCarousel__text">清水工機株式会社＜大正11年創業の老舗企業/3年連続売上UP/高い定職ダミーテキストダミー…</p>
            </a><!--/jobCarousel__item -->
            <a href="DUMMY" target="_blank" class="jobCarousel__item">
              <p class="jobCarousel__title">専門商社でのルートセールス【法人営業】ダミーテキストダミーテキスト※未経験歓迎</p>
              <p class="jobCarousel__text">清水工機株式会社＜大正11年創業の老舗企業/3年連続売上UP/高い定職ダミーテキストダミー…</p>
            </a><!--/jobCarousel__item -->
            <a href="DUMMY" target="_blank" class="jobCarousel__item">
              <p class="jobCarousel__title">専門商社でのルートセールス【法人営業】ダミーテキストダミーテキスト※未経験歓迎</p>
              <p class="jobCarousel__text">清水工機株式会社＜大正11年創業の老舗企業/3年連続売上UP/高い定職ダミーテキストダミー…</p>
            </a><!--/jobCarousel__item -->
            <a href="DUMMY" target="_blank" class="jobCarousel__item">
              <p class="jobCarousel__title">専門商社でのルートセールス【法人営業】ダミーテキストダミーテキスト※未経験歓迎</p>
              <p class="jobCarousel__text">清水工機株式会社＜大正11年創業の老舗企業/3年連続売上UP/高い定職ダミーテキストダミー…</p>
            </a><!--/jobCarousel__item -->
          </div>

          <a href="#" class="linkArrowS">その他の求人を見る</a>

        </div><!--/jobCarousel__inner -->
      </div><!--/jobCarousel -->


<% include partial/_variousSearch %>

      </div><!--/container__inner -->
    </div><!--/container -->


<%}; -%>

<% function pageScript(){-%>
<script>
$(function(){
  //0件表示
  var isZero = mynavi.util.hasProperty('isZero');
  var alert = $('.alert');
  if(isZero) {
    $('.result__info').hide();
    $('.container__inner').hide();
    $('.result').hide();
  }else{
    alert.hide();
  }

});
</script>
<%}; -%>

<% include partial/_layout -%>
