@charset "UTF-8";

/* color
----------------------------------------------------------------- */
$color_white: #fff;
$color_red: #f00;
$color_keyColor: #00aaeb;
$color_text: #555;

/* layout
----------------------------------------------------------------- */
$max-pc: 950px;

/* path
----------------------------------------------------------------- */
$img_path: "../img/";
/* 使い方 #{$img_path} */

